*{
  font-family: sans-serif;
}

body{
  
  margin: 0;
  padding: 0;
  background: #cdc8c8;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

input{
  
  font-size: 25px;
  width: 20rem;
  border-radius: 20px;
  height: 60px;
}

#searchimage{
  
  width: 60px;
  height: 60px;
}
#infoarticle{
  width: 900px;
  height: 160px;
  display: flex;
  justify-content: space-between;
  background-color: DodgerBlue;
}

.infosub{

  background-color: #f1f1f1;
  width: 300px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  border: 2px solid red;
  border-radius: 25px;

  line-height: 20px;
}